@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --accent: #FF5722;
  --primary-lightest: #FFBB94;
  --primary-light: #FB9590;
  --primary-medium: #DC586D;
  --primary-dark: #A33757;
  --primary-darker: #852E4E;
  --primary-darkest: #4C1D3D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-accent: var(--accent);
  --color-primary-lightest: var(--primary-lightest);
  --color-primary-light: var(--primary-light);
  --color-primary-medium: var(--primary-medium);
  --color-primary-dark: var(--primary-dark);
  --color-primary-darker: var(--primary-darker);
  --color-primary-darkest: var(--primary-darkest);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}